Client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="BanqueService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:7070/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConvertionFromEuroToDH">
<part name="parameters" element="tns:ConvertionFromEuroToDH"/>
</message>
<message name="ConvertionFromEuroToDHResponse">
<part name="parameters" element="tns:ConvertionFromEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<portType name="BanqueWs">
<operation name="ConvertionFromEuroToDH">
<input wsam:Action="http://WebService/BanqueWs/ConvertionFromEuroToDHRequest" message="tns:ConvertionFromEuroToDH"/>
<output wsam:Action="http://WebService/BanqueWs/ConvertionFromEuroToDHResponse" message="tns:ConvertionFromEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://WebService/BanqueWs/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://WebService/BanqueWs/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="listComptes">
<input wsam:Action="http://WebService/BanqueWs/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://WebService/BanqueWs/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
</portType>
<binding name="BanqueWsPortBinding" type="tns:BanqueWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConvertionFromEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueService">
<port name="BanqueWsPort" binding="tns:BanqueWsPortBinding">
<soap:address location="http://localhost:7070/"/>
</port>
</service>
</definitions>